<div class="content">
  <div class="header text-center">
    <h1>Create new password</h1>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <div class="msg">
    <span *ngIf="success" class="alert alert-success text-center">Password Reset Successful try <a routerLink="">Login</a></span>
    <span *ngIf="userNotFound" class="alert alert-danger text-center">Invalid reset link</span>
    <span *ngIf="fail" class="alert alert-danger text-center">Invalid reset link - either reset link has been expired or already used</span>
  </div>
  <div class="userForm animate__animated animate__fadeIn">

    <form [formGroup]="resetPassword" (ngSubmit)="submitData()" class="form-group col-lg-12 form">


      <div class="col-lg-6 form-item password">

        <mat-form-field class="col-lg-12">
          <mat-label><mat-icon class="mat-18">lock_open</mat-icon>Password</mat-label>
          <input matInput [type]="passhide ? 'password' : 'text'" formControlName="password"  #pass >
          <mat-hint *ngIf="(pass.value.length==0 && password.touched) || (pass.value.length == 0 && advSub) else passblock" class="error">Please set password</mat-hint>
          <ng-template #passblock>
            <mat-hint *ngIf="password.touched && password.invalid" class="error">Password is invalid It must satisfy all the conditions</mat-hint>
          </ng-template>
          <button type="button" mat-icon-button matSuffix (click)="passhide=!passhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passhide">
          <mat-icon>{{passhide ? "visibility" : "visibility_off"}}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <ul>
            <li>Password must have 8 characters</li>
            <li>Password must have a lowercase and uppercase letter</li>
            <li>Password must have a number</li>
            <li>Password must have a special character</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 form-item">

        <mat-form-field class="col-lg-12">
          <mat-label><mat-icon *ngIf="!passvalid" class="mat-18">lock_open</mat-icon>
            <mat-icon *ngIf="passvalid" class="mat-18">lock</mat-icon>Confirm password</mat-label>
          <input matInput [type]="conpasshide ? 'password' : 'text'" formControlName="conpass" #conpass (keyup)="checkPass()">
          <mat-hint *ngIf="(conpass.value.length!=0 && !passvalid); else conelseBlock" class="error">Password do not match</mat-hint>
          <ng-template #conelseBlock>
            <mat-hint *ngIf="(conpass.value.length==0 && conpassword.touched) || (conpass.value.length==0 && advSub)"  class="error">Please Confirm your password</mat-hint>
          </ng-template>
          <button type="button" mat-icon-button matSuffix (click)="conpasshide = !conpasshide" [attr.aria-label]="'Hide conpass'" [attr.aria-pressed]="conpasshide">
          <mat-icon>{{conpasshide ? "visibility" : "visibility_off"}}</mat-icon>
          </button>

          </mat-form-field>
      </div>

      <div class="col-lg-12">
        <button mat-raised-button [color]="resetPassword.valid ? 'primary' : 'warn'" [type]="(resetPassword.valid && passvalid) ? 'submit' : 'button'" (click)="advSub = true" class="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
