.header{
  display: block;
  padding: 50px ;
  justify-content: center;
  background: linear-gradient(rgb(110, 48, 255),rgb(76, 195, 224));
  /* background: linear-gradient(rgb(255, 102, 0),rgb(255, 196, 0)); */
  border-radius: 0 0 70% 70%;
  margin-bottom:10px;
}

mat-icon{
  margin-right:5px;
  position: relative;
}

.userForm{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  margin: 50px auto;

}

.userForm form{
   font-size:15px;

  width: 100%;
  margin: 50px 25%;
}

.userForm form .submit{
  margin: 30px;
  text-align: center;
  justify-self: center ;
}

.error{
  color: red;
}

.form-item{
  margin-bottom: 7px;
}

.form-item ul li{
  font-size: 12px;
}

.msg{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px){
  .userForm form{
    margin: 50px 10px;
    width: 100%;
  }
}

/* mat-label{
  font-size: 20px;
} */
