<div class="content">
  <div class="header text-center">
    <h1>Request password reset link</h1>
  </div>
  <div class="msg text-center">
    <span *ngIf="success" class=" alert alert-success text-center">Password reset link has been sent to your mail please check..!</span>
    <span *ngIf="fail" class=" alert alert-danger text-center">Failed to send mail please try again</span>
  </div>
  <div class="forget-password">
    <h3>Reset Password</h3><hr>
    <form [formGroup]="forgotPassword" (ngSubmit) ="submitData()" class="col-lg-12 form-group" >
      <div class="form-group">
        <label for="email">Enter Email ID</label>
        <input type="email" formControlName="email" class="form-control col-lg-12">
        <small class="form-text text-danger" *ngIf="mailNotFound">User with specific Email ID not found</small>
      </div><br>
      <input type="submit" class="btn btn-success" align="center"><button class="btn btn-dark ml-3" (click)="returnBack()">Back</button>

    </form>

  </div>
</div>
